/* CSS style sheet!*/

body {
    margin: 0;
    background: #2c2f33;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #7289da;

}

header::after {
    content: '';
    display: table;
    clear: both;
}


header button {
    float: left;
    padding: 15px 0px;
    background-color: transparent;
    overflow: hidden;
    outline: none;
    border: none;
}

.navigation {
    width: 80%;
    margin: 0 auto;
}

header nav {
    float: right;
}


header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav li {
    display: inline-block;
    margin-left: 70px;
    padding: 25px 0px;

    position: relative;
}

header nav ul li a {
    color: #23272a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
}

header nav ul li a:hover {
    color: #000;
}

header nav ul li a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444444;

    position: absolute;
    top: 15px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

header nav ul li a:hover::before {
    width: 100%;
}

.homepage h1{
    color: #ffffff;
    padding-left: 150px;
}

.homepage h3{
    color: #eeffee;
    padding-left: 170px;
}

.homepage h4{
    color: #eeffee;
    padding-left: 170px;
}


footer {
    background: #7289da;

}

footer::after {
    content: '';
    display: table;
    clear: both;
}


footer nav {
    float: left;

}

footer nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer nav ul li {
    display: inline-block;
    margin-left: 70px;
    padding: 25px 0px;

    position: relative;
}
footer nav ul li a {
    color: #23272a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

footer nav ul li a:hover {
    color: #000;
}

footer nav ul li a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444444;

    position: absolute;
    bottom: 15px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

footer nav ul li a:hover::before {
    width: 100%;
}