body {
    margin: 0;
    background: #2c2f33;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}


header {
    background: #7289da;

}

button {
    float: left;
    padding: 15px 0px;
    background-color: transparent;
    overflow: hidden;
    outline: none;
    border: none;
}

header::after {
    content: '';
    display: table;
    clear: both;
}


nav {
    float: right;
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


nav li {
    display: inline-block;
    margin-left: 70px;
    padding: 25px 0px;

    position: relative;
}


nav ul li a {
    color: #23272a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
}

nav ul li a:hover {
    color: #000;
}



nav ul li a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444444;

    position: absolute;
    top: 15px;
    width: 0%;

    transition: all ease-in-out 250ms;
}


nav ul li a:hover::before {
    width: 100%;
}