
button {
    background-color: inherit;
    color: inherit;
    float: top;
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-size: 26px;
}

.tab {
    overflow: hidden;
    border: 1px solid inherit;
    background-color: inherit;
    color: inherit;
}

.tablinks {
    background-color: inherit;
    color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding:  14px 16px;
    transition: 0.3s;
    font-display: swap;
}

.tab button:hover {
    background-color: inherit;
}

.tab button.active {
    border: solid 1px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: inherit;
    border-top: none;
    font-display: swap;
    background-color: inherit;
    color: inherit;
}


.overlay {
    height: calc(100% - 30px);
    width: 0%;
    position: fixed;
    z-index: 1;
    margin-top: 15px;
    margin-left: 15px;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.4s;
    transition-timing-function: ease-out;
    border-radius: 25px;
}

.overlay-content {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
    width: 100%;
    text-align: center;
    font-display: swap;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-display: swap;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;

}

.ntfn {
    height: calc(100% - 30px);
    width: 0%;
    position: fixed;
    overflow-x: hidden;
    margin-top: 15px; margin-right: 15px;
    right: 0;
    top: 0;
    transition: 0.4s;
    transition-timing-function: ease-in;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 25px;
}
.ntfn-content {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
    width: 100%;
    text-align: center;
    font-display: swap;
}
.ntfn a, .ntfn p{
    margin: none;
    padding: 2px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    font-display: swap;
}

.ntfn p {
    font-size: 24px;
}


.closebtn {
    position: absolute;
    float: top;
    margin: none;
    left: 1%;
    font-size: 40px;
    font-display: swap;
}
.closebtn-ntfn {
    position: absolute;
    float: top;
    left: 3%;
    font-size: 40px;
    font-display: swap;
}


.navigation .titletext {
    text-align: center;
    padding-bottom: 15px;
    font-display: swap;
}


@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size:  40px;
        top: 15px;
        right: 35px;
    }
}



body {
    padding: 15px;
    background-color: #f7f7f7;
    color: #1c1d1d;
    font-size: 25px;
    font-display: swap;
}

.dark-mode {
    background-color: #1c1d1d;
    color: #f7f7f7;
}